<mat-toolbar style="background-color: #ffffff; color: #4cae4f">
  <img src="logo_rev.png" alt="ReVive" style="height: 32px; cursor: pointer" routerLink="/homes" />
  <span
    style="margin-left: 8px; font-weight: 800; text-transform: uppercase; letter-spacing: 0.5px; cursor: pointer"
    routerLink="/homes"
  >
    ReVive
  </span>

  <span style="flex: 1"></span>

  <!-- Ruta más cercana -->
  <button mat-button style="color: #4cae4f" routerLink="/ruta-cercana">
    <mat-icon>near_me</mat-icon>
    Ruta más cercana
  </button>

  <!-- Menú Ubicaciones -->
  <button mat-button style="color: #4cae4f" [matMenuTriggerFor]="menuUbicaciones">
    <mat-icon>location_on</mat-icon>
    Ubicaciones
  </button>

  <mat-menu #menuUbicaciones="matMenu">
    <button mat-menu-item routerLink="/ubicaciones/insertar">
      <mat-icon>add</mat-icon>
      Registrar
    </button>
    <button mat-menu-item routerLink="/ubicaciones/listar">
      <mat-icon>list</mat-icon>
      Lista
    </button>
    <button mat-menu-item routerLink="/ubicaciones/buscar-id">
      <mat-icon>search</mat-icon>
      Buscar por ID
    </button>
  </mat-menu>

  <!-- Menú Material -->
  <button mat-button style="color: #4cae4f" [matMenuTriggerFor]="menuMaterial">
    <mat-icon>casino</mat-icon>
    Material
  </button>

  <mat-menu #menuMaterial="matMenu">
    <button mat-menu-item routerLink="/materiales/insertar">
      <mat-icon>add</mat-icon>
      Registrar
    </button>
    <button mat-menu-item routerLink="/materiales/listar">
      <mat-icon>list</mat-icon>
      Lista
    </button>
    <button mat-menu-item routerLink="/materiales/buscar-tipo">
      <mat-icon>search</mat-icon>
      Buscar por Tipo
    </button>
  </mat-menu>
<!-- Menú Categorías -->
<button mat-button style="color: #4cae4f" [matMenuTriggerFor]="menuCategoria">
  <mat-icon>category</mat-icon>
  Categorías
</button>

<mat-menu #menuCategoria="matMenu">
  <button mat-menu-item routerLink="/categorias/insertar">
    <mat-icon>add</mat-icon>
    Registrar
  </button>
  <button mat-menu-item routerLink="/categorias/listar">
    <mat-icon>list</mat-icon>
    Lista
  </button>
  <button mat-menu-item routerLink="/categorias/buscar-id">
    <mat-icon>search</mat-icon>
    Buscar por ID
  </button>
</mat-menu>
</mat-toolbar>