<mat-toolbar style="background-color: #28993b; color: white">
  <mat-icon>recycling</mat-icon>
  <span
    style="margin-left: 8px; font-weight: 600; cursor: pointer"
    routerLink="/homes"
  >
    ReVive
  </span>

  <span style="flex: 1"></span>

  <!-- Menú Ubicaciones -->
  <button mat-button style="color: white" [matMenuTriggerFor]="menuUbicaciones">
    <mat-icon>location_on</mat-icon>
    Ubicaciones
  </button>

  <mat-menu #menuUbicaciones="matMenu">
    <button mat-menu-item routerLink="/ubicaciones/insertar">
      <mat-icon>add</mat-icon>
      Registrar
    </button>
    <button mat-menu-item routerLink="/ubicaciones/listar">
      <mat-icon>list</mat-icon>
      Lista
    </button>
    <button mat-menu-item routerLink="/ubicaciones/buscar-id">
      <mat-icon>search</mat-icon>
      Buscar por ID
    </button>
  </mat-menu>

  <!-- Menú Material -->
  <button mat-button style="color: white" [matMenuTriggerFor]="menuMaterial">
    <mat-icon>casino</mat-icon>
    Material
  </button>

  <mat-menu #menuMaterial="matMenu">
    <button mat-menu-item routerLink="/materiales/insertar">
      <mat-icon>add</mat-icon>
      Registrar
    </button>
    <button mat-menu-item routerLink="/materiales/listar">
      <mat-icon>list</mat-icon>
      Lista
    </button>
  </mat-menu>
<!-- Menú Categorías -->
<button mat-button style="color: white" [matMenuTriggerFor]="menuCategoria">
  <mat-icon>category</mat-icon>
  Categorías
</button>

<mat-menu #menuCategoria="matMenu">
  <button mat-menu-item routerLink="/categorias/insertar">
    <mat-icon>add</mat-icon>
    Registrar
  </button>
  <button mat-menu-item routerLink="/categorias/listar">
    <mat-icon>list</mat-icon>
    Lista
  </button>
</mat-menu>
</mat-toolbar>