<div class="container">
  <h2 style="text-align: center">Lista de Donaciones</h2>
  <div>
    <!--tabla-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID.</th>
        <td mat-cell *matCellDef="let element">{{ element.idDonation }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Descripción de la Donación</th>
        <td mat-cell *matCellDef="let element">{{ element.nameDonation }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Items</th>
        <td mat-cell *matCellDef="let element">
          {{ getitems(element.itemId) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          {{ getUsuario(element.idUser) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c5">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="eliminar(element.idDonation)" class="btn-eliminar">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="c6">
      <th mat-header-cell *matHeaderCellDef>Actualizar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="btn-editar" [routerLink]="['/donacion/edits', element.idDonation]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
